<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    <h1>
        <%= title  %>
    </h1>


 <form method="POST">
     <input type="text" name="task"/>
      <button type="submit" value="Add Task" name="Add Task">Add Task</button>
       
    </form>

    <ul>
        <%for (let i=0; i<tasks.length; i++){ %>

            <li>
                <%= tasks[i] %>
                <form method="POST"action="/delete/<%= tasks[i] %>">
                     <button type="submit">Delete</button>
                </form>
            </li>

            <%} %>
    </ul>



</body>
</html>